{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RICHES (описание)">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/an.css' %}">
    <link rel="icon" href="">
    <title>RICHES</title>
</head>
<body>

    <header>
        <div class="blurBg_header"></div>
        <div class="imgPerson_header"></div>

        <div class="labels_header">
            <h1>RICHES</h1>
            <p>ЗАРАБОТАЙ ИЛИ ТЕРЯЙ</p>
        </div>

        <div class="buttons_header">
            <button class="btnDemo">ДЕМО</button>
            <button class="btnDownload">СКАЧАТЬ</button>
        </div>
    </header>

    <nav>
        <div class="links_nav">
            <a href="">Главная</a>
            <a href="">Описание</a>
            <a href="">Видео-обзор</a>
            <a href="">Как играть?</a>
        </div>
        <div class="socials_nav">
            <i>Facebook</i>
            <i>YouTube</i>
        </div>
    </nav>

    <section class="description">
        <div class="images_section">
            <div class="img-1"></div>
            <div class="img-2"></div>
            <div class="img-3"></div>
            <div class="img-4"></div>
            <div class="img-5"></div>
            <div class="img-6"></div>
            <div class="img-7"></div>
            <div class="img-8"></div>
            <div class="img-9"></div>
        </div>
        <div class="labels_section">
            <h2>ЧТО ЗА RICHES?</h2>
            <p>Игра, где ты рискуешь либо заработать, либо потерять. Как поступить? Решать тебе, всё или ничего!</p>
            <label>Игра доступна лишь на Android и iOS</label>
            <div class="more_labels_section">
                <i></i>
                <p>УЗНАТЬ ПОДРОБНОСТИ ОБ ИГРЕ</p>
            </div>
        </div>
    </section>

    <section class="description">
        <div class="labels_section">
            <h2>КАК ИГРАТЬ?</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero corporis nesciunt id.</p>
            <label>Игра доступна лишь на Android и iOS</label>
            <div class="more_labels_section">
                <i></i>
                <p>РАСКРОЙ ВСЕ ОСОБЕННОСТИ</p>
            </div>
        </div>
        <div class="videoInstruction">
            <a href="" style="color: red;">Видео-обзор</a>
        </div>
    </section>

    <footer>
        <nav>
            <div class="links_nav">
                <a href="">Главная</a>
                <a href="">Описание</a>
                <a href="">Видео-обзор</a>
                <a href="">Как играть?</a>
            </div>
            <div class="langPageSelection">
                <p>Язык / Language</p>
                <select>
                    <option selected>РУССКИЙ</option>
                    <option>ENGLISH</option>
                </select>
            </div>
        </nav>
        <div class="labels_footer">
            <h1>RICHES</h1>
            <p>ЗАРАБОТАЙ ИЛИ ТЕРЯЙ</p>
        </div>
    </footer>
</body>
</html>